html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
}











html, body, header {
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
    color: #333;
    box-sizing:border-box;
}

/*-------------------------------------------------INTRO--------------------------------------------------------->*/

a{
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    
}
.announcement{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
    color: #f9f9f9;
    font-size: 18px;
    text-decoration: none;
    
}


.announcement_button{
    text-decoration:none;
    background: #F4464C;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 20px;
}

nav a, ul {    
    text-decoration: none;
    list-style: none;
    color: white;

}

nav{
    width: 100%;
    background: #F4464C;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 5px 40px 5px 0px;
    align-items: center;
    justify-content: space-between;
      
}

li{
    display: inline-block;
    padding: 20px;
}

.btn_menu{
    transition: background-color 300ms;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn_menu:hover{
    background: #222;
}

.shopping_cart{
    background: #222;
    padding: 7px 15px;
    border-radius: 5px;

}

.logo{padding-left:50px}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.bloc_donation{
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}


/*---------------------------BLOC INTRO--------------------------------------------------------------------------->*/

.bloc_intro{
    background-image:  linear-gradient(180deg, rgba(34, 34, 34, 0.1), #222),url("/images/donate_1.jpg");
    color: white;
    background-position:0px 0px, 50% 0%;
    min-height: 500px;
    padding-top: 300px;
    padding-bottom: 70px;
    background-size: auto, cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.intro_title{
    font-size: 35px;
    font-weight: bold;
    width: 35%;
    padding: 0;
    
}

.intro_subtitle{
    font-size: 25px;
    font-weight: normal;
}

.p1{
    font-size: 16px;
    width: 50%;
    padding: 10px 0 100px 0;
}

/*--------------------------------------------Bloc Donation-------------------------------------------------*/

.bloc_donation{
    padding: 65px 0;
}

.donation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #222;
    width: 50%;
    padding: 30px 30px 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.donation_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}   

.donation_button{
    background: #F4464C;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
}

.btn1{
    padding:10px 200px;
}
.btn2, .btn3, .btn4{
    padding:10px 208px;
}
.btn5{
    padding:10px 215px;
}

/*-------------------------------------------------FOOTER-------------------------------------------------------*/


footer{
    background: #222;
    width: 100%;
    color: white;
    padding-top: 70px;
}

.footer_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.footer_bottom{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 14px;

}

i.logos{
   font-size: 30px;
   padding-left: 15px;
}

.color{
    color: white;
}

.webflow{
    color: #F4464C;
    text-decoration: underline;
}

#toggle{
    display: none;
}
.fa-bars{
    opacity: 0;
}

/*-----------------------------------------------MOBILE----------------------------------------------------*/



@media screen and (max-width:770px){

    /*----------------------------MENU-----------------------------*/
        .announcement{
            flex-direction: column;
        }
    
        .announcement_button{
            font-size: 12px;
        }
    
        .announcement_title{
            font-size: 18px;
            padding-top: 15px;
        }


        .fa-bars{
            font-size: 28px;
            position: absolute;
            right: 10%;
            top: 73%;
            opacity: 1;
        }
        
        .logo{
            padding:0;
        }
    
        nav
        {   
            height: 60px;
            padding: 0;
        }

        nav ul
        {
            display: none;
            flex-direction: column;
            background: #F4464C;
            height: 220px;
            transform: translate(-800, 0);
            justify-content: center;
            align-items: center;
        }
    
     
        .menu_mobile
        {
            width: 30px;
            display: flex;
            margin: 0 auto;
            font-size: 40px;
            color: white;
            cursor: pointer;
        }
     
        #toggle:checked + nav ul {
            display: flex;
            transform: translate(0, 0);
            width: 100%;
            padding-top: 100px;
            width: 100vw;
            padding-top: 160px;
            padding-bottom: 250px;
            position: absolute;
            top: 100%;
            left: 0;
           
        }

    
/*----------------------------INTRO-----------------------------*/
    
    
    .bloc_intro{
        padding: 200px 0 0 0;
        background-position:0px 0px, 50% 50%;
        background-size: 700px;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }

    .intro_title{
        font-size: 28px;
        width: 60%;
        padding-top: 60px;
    }   

    .intro_subtitle{
        font-size: 22px;
    }

    .p1{
        width: 80%;
        font-size: 12px;
    }


/* ------------------------------Bloc Donation--------------------------- */


    .bloc_donation{
        padding: 0;
    }

    .bloc_donation{
        padding: 65px 0;
    }

    .donation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid #222;
        width: 90%;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .donation_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: inherit;
        
    }   

    .donation_button{
        background: #F4464C;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        border-radius: 5px;
        margin: 10px 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .btn1{
        padding: 10px 40px;
        
    }
    .btn2, .btn3, .btn4{
        padding: 10px 40px;
        
    }
    .btn5{
        padding: 10px 40px;
        
    }







}

